In [1]:
5+3

8

In [1]:
import simplejson as json
from matplotlib import pyplot as plt 
from langdetect import detect
import re
import pandas as pd 
import numpy as np 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)



test = pd.read_csv('7282_1.csv')
test.head(2)

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN

In [3]:

print(test.shape)
test.keys()
hotels=test[['name','reviews.date','reviews.rating','reviews.text']].drop_duplicates()
print(hotels.shape)

#hotels.reset_index()
hotels.reset_index(drop=True)

(35912, 19)
(35733, 4)

,name,reviews.date,reviews.rating,reviews.text
0,Hotel Russo Palace,2013-09-22T00:00:00Z,4.0,Pleasant 10 min walk along the sea front to th...
1,Hotel Russo Palace,2015-04-03T00:00:00Z,5.0,Really lovely hotel. Stayed on the very top fl...
2,Hotel Russo Palace,2014-05-13T00:00:00Z,5.0,Ett mycket bra hotell. Det som drog ner betyge...
3,Hotel Russo Palace,2013-10-27T00:00:00Z,5.0,We stayed here for four nights in October. The...
4,Hotel Russo Palace,2015-03-05T00:00:00Z,5.0,We stayed here for four nights in October. The...
...,...,...,...,...
35728,Elk Springs Resort,2012-03-20T00:00:00Z,5.0,Best of the Best!!!! My family and I stayed in...
35729,Elk Springs Resort,2012-03-12T00:00:00Z,5.0,Amazing Vacation in Beautiful Cabin We stayed ...
35730,Elk Springs Resort,2015-11-03T00:00:00Z,5.0,My husband and I stayed at Tree Tops which is ...
35731,Extended Stay America Grand Rapids - Kentwood,NaN,0.0,to share your opinion of this businesswith YP ...
35732,Extended Stay America Grand Rapids - Kentwood,NaN,0.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [53]:
#hotels['tidy_tweet'] = hotels['reviews.text'].str.replace("[^a-zA-Z#]", " ")
#hotels.head(100)

,name,reviews.date,reviews.rating,reviews.text,tidy_tweet
0,Hotel Russo Palace,2013-09-22T00:00:00Z,4.0,Pleasant 10 min walk along the sea front to th...,Pleasant min walk along the sea front to th...
1,Hotel Russo Palace,2015-04-03T00:00:00Z,5.0,Really lovely hotel. Stayed on the very top fl...,Really lovely hotel Stayed on the very top fl...
2,Hotel Russo Palace,2014-05-13T00:00:00Z,5.0,Ett mycket bra hotell. Det som drog ner betyge...,Ett mycket bra hotell Det som drog ner betyge...
3,Hotel Russo Palace,2013-10-27T00:00:00Z,5.0,We stayed here for four nights in October. The...,We stayed here for four nights in October The...
4,Hotel Russo Palace,2015-03-05T00:00:00Z,5.0,We stayed here for four nights in October. The...,We stayed here for four nights in October The...
...,...,...,...,...,...
95,Comfort Suites,2016-06-04T00:00:00Z,3.0,We stayed here because of a family medical eme...,We stayed here because of a family medical eme...
96,Thunderbird Executive Inn and Conference Center,2009-04-06T00:00:00Z,3.0,This is the old address for Thunderbird. The n...,This is the old address for Thunderbird The n...
97,Little Belt Inn Neihart,NaN,0.0,to share your opinion of this businesswith YP ...,to share your opinion of this businesswith YP ...
98,Little Belt Inn Neihart,NaN,0.0,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
99,Hawthorn Suites By Wyndham Livermore Wine Country,2015-04-17T00:00:00Z,3.0,The room was fine and the mattress was very co...,The room was fine and the mattress was very co...

In [4]:
hotels=hotels.dropna()
hotels['tidy_tweet'] = hotels['reviews.text'].str.replace("[^a-zA-Z#]", " ")
hotels['name'] = hotels['name'].str.replace("Hotel", "")

#hotels.head(100)
hotels['tidy_tweet'] = hotels['reviews.text'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
#df['subject acc.ver'] = df['subject acc.ver']
hotels.head()

,name,reviews.date,reviews.rating,reviews.text,tidy_tweet
0,Russo Palace,2013-09-22T00:00:00Z,4.0,Pleasant 10 min walk along the sea front to th...,Pleasant walk along front Water Bus. restauran...
1,Russo Palace,2015-04-03T00:00:00Z,5.0,Really lovely hotel. Stayed on the very top fl...,Really lovely hotel. Stayed very floor were su...
2,Russo Palace,2014-05-13T00:00:00Z,5.0,Ett mycket bra hotell. Det som drog ner betyge...,mycket hotell. drog betyget fick under taksarn...
3,Russo Palace,2013-10-27T00:00:00Z,5.0,We stayed here for four nights in October. The...,stayed here four nights October. hotel staff w...
4,Russo Palace,2015-03-05T00:00:00Z,5.0,We stayed here for four nights in October. The...,stayed here four nights October. hotel staff w...

In [5]:
#tokenized_tweet = hotels['tidy_tweet'].apply(lambda x: x.split())
#tokenized_tweet.head()
l1=[]
hotels['tokenized_tweet'] = hotels.apply(lambda x: x['tidy_tweet'].split(),axis=1)
#hotels['tokenized_tweet'] = hotels['tidy_tweet'].apply(lambda x: x.split())
#hotels['tokenized_tweet'].head()
hotels.head()

,name,reviews.date,reviews.rating,reviews.text,tidy_tweet,tokenized_tweet
0,Russo Palace,2013-09-22T00:00:00Z,4.0,Pleasant 10 min walk along the sea front to th...,Pleasant walk along front Water Bus. restauran...,"[Pleasant, walk, along, front, Water, Bus., re..."
1,Russo Palace,2015-04-03T00:00:00Z,5.0,Really lovely hotel. Stayed on the very top fl...,Really lovely hotel. Stayed very floor were su...,"[Really, lovely, hotel., Stayed, very, floor, ..."
2,Russo Palace,2014-05-13T00:00:00Z,5.0,Ett mycket bra hotell. Det som drog ner betyge...,mycket hotell. drog betyget fick under taksarn...,"[mycket, hotell., drog, betyget, fick, under, ..."
3,Russo Palace,2013-10-27T00:00:00Z,5.0,We stayed here for four nights in October. The...,stayed here four nights October. hotel staff w...,"[stayed, here, four, nights, October., hotel, ..."
4,Russo Palace,2015-03-05T00:00:00Z,5.0,We stayed here for four nights in October. The...,stayed here four nights October. hotel staff w...,"[stayed, here, four, nights, October., hotel, ..."

In [6]:
"""from nltk.stem.porter import *
stemmer = PorterStemmer()
#stemming
hotels['stemming'] = hotels['tokenized_tweet'].apply(lambda x: [stemmer.stem(i) for i in x])
hotels.head()"""
tokenized_tweet = hotels['tidy_tweet'].apply(lambda x: x.split())
tokenized_tweet.head()

0    [Pleasant, walk, along, front, Water, Bus., re...
1    [Really, lovely, hotel., Stayed, very, floor, ...
2    [mycket, hotell., drog, betyget, fick, under, ...
3    [stayed, here, four, nights, October., hotel, ...
4    [stayed, here, four, nights, October., hotel, ...
Name: tidy_tweet, dtype: object

In [7]:
from nltk.stem.porter import *
stemmer = PorterStemmer()

hotels['tokenized_tweet'] = hotels['tokenized_tweet'].apply(lambda x: [stemmer.stem(i) for i in x]) # stemming
hotels['tokenized_tweet'].head()

0    [pleasant, walk, along, front, water, bus., re...
1    [realli, love, hotel., stay, veri, floor, were...
2    [mycket, hotell., drog, betyget, fick, under, ...
3    [stay, here, four, night, october., hotel, sta...
4    [stay, here, four, night, october., hotel, sta...
Name: tokenized_tweet, dtype: object

In [14]:
# Python program to demonstrate the 
# use of join function to join list 
# elements with a character. 


#hotels['tokenized_tweet'] = hotels['tokenized_tweet'].apply(lambda x: [' '.join(tokenized_tweet[i]) for i in x]) # stemming
for i in range(0,20):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])

hotels['tidy_tweet'] = tokenized_tweet
hotels['tidy_tweet'].head()
print(tokenized_tweet[0])

P                                                               l                                                               e                                                               a                                                               s                                                               a                                                               n                                                               t                                                                                                                               w                                                               a                                                               l                                                               k                                                                                                                               a                                                               l                                                               o                                                               n                                                               g                                                                                                                               f                                                               r                                                               o                                                               n                                                               t                                                                                                                               W                                                               a                                                               t                                                               e                                                               r                                                                                                                               B                                                               u                                                               s                                                               .                                                                                                                               r                                                               e                                                               s                                                               t                                                               a                                                               u                                                               r                                                               a                                                               n                                                               t                                                               s                                                                                                                               e                                                               t                                                               c                                                               .                                                                                                                               H                                                               o                                                               t                                                               e                                                               l                                                                                                                               c                                                               o                                                               m                                                               f                                                               o                                                               r                                                               t                                                               a                                                               b                                                               l                                                               e                                                                                                                               b                                                               r                                                               e                                                               a                                                               k                                                               f                                                               a                                                               s                                                               t                                                                                                                               g                                                               o                                                               o                                                               d                                                                                                                               q                                                               u                                                               i                                                               t                                                               e                                                                                                                               v                                                               a                                                               r                                                               i                                                               e                                                               t                                                               y                                                               .                                                                                                                               R                                                               o                                                               o                                                               m                                                                                                                               a                                                               i                                                               r                                                               c                                                               o                                                               n                                                                                                                               d                                                               i                                                               d                                                               n                                                               '                                                               t                                                                                                                               w                                                               o                                                               r                                                               k                                                                                                                               v                                                               e                                                               r                                                               y                                                                                                                               w                                                               e                                                               l                                                               l                                                               .                                                                                                                               T                                                               a                                                               k                                                               e                                                                                                                               m                                                               o                                                               s                                                               q                                                               u                                                               i                                                               t                                                               o                                                                                                                               r                                                               e                                                               p                                                               e                                                               l                                                               a                                                               n                                                               t                                                               !

In [43]:
d={'val':[1,1,1]}
dd=pd.DataFrame(d)
#dd
dd['new']=5
dd.apply(lambda x : x[0]+100,axis=0)
#dd

val    101
new    105
dtype: int64

In [15]:
# Python program to demonstrate the 
# use of join function to join list 
# elements without any separator. 

# Joining with empty separator 
list1 = ['g','e','e','k', 's'] 
print("".join(list1)) 

# Python program to demonstrate the 
# use of join function to join list 
# elements with a character. 

list2 = [1,2,3,4] 

s = " "

# joins elements of list1 by '-' 
# and stores in sting s 
s = s.join(list2) 

# join use to join a list of 
# strings to a separator s 
print(s)

geeks

TypeError: sequence item 0: expected str instance, int found